@model DotNetCore.Models.MovieViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="movie.Title" class="control-label"></label>
                <input asp-for="movie.Title" class="form-control" />
                <span asp-validation-for="movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movie.ReleaseDate" class="control-label"></label>
                <input asp-for="movie.ReleaseDate" class="form-control" />
                <span asp-validation-for="movie.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movie.Genre" class="control-label"></label>
                <input asp-for="movie.Genre" class="form-control" />
                <span asp-validation-for="movie.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movie.Price" class="control-label"></label>
                <input asp-for="movie.Price" class="form-control" />
                <span asp-validation-for="movie.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movie.IsWatched" class="control-label"></label>
                <input type="checkbox" asp-for="movie.IsWatched" class="custom-checkbox" />
                <span asp-validation-for="movie.IsWatched" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movie.QualityId" class="control-label"></label>
                <select asp-for="movie.QualityId"
                        asp-items="@(new SelectList(Model.movieQualities,"Id","Quality"))" class="form-control">
                    <option>Please select one</option>
                </select>

                <span asp-validation-for="movie.QualityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="file" name="file" >
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
